body {
  background-color: #272727;
}
svg text {
  fill: #fff;
}
.numberchart {
  margin-left: 100px;
}
.mainchart,
.sidechart,
.numberchart {
  float: left;
  width: 300px;
}
h4 {
  color: #30b29c;
  text-align: right;
  margin-right: 20px;
}
.rectContainer {
  position: absolute;
  margin-top: 50px;
}
