// OP-1 style

body
	background-color rgb(39, 39, 39)

svg text
	fill white

.numberchart
	margin-left 100px

.mainchart,.sidechart,.numberchart
	float left
	width 300px
	// border 1px solid #ccc

h4
	color rgb(48, 178, 156)
	text-align right
	margin-right 20px


.rectContainer
	position absolute
	margin-top 50px

.popMap
	width 290px

.popTable
	width 100%

.white,.white:hover
	text-decoration none
	color white

.ctnFooter
	position fixed
	bottom 0px
	
	background-color #272727
	width 100%
	height 30px

.ctnTxt
	margin-left 150px	
	margin-bottom 15px
