doctype html
html
	head
		title On the Move
		include ../j_piece/inheader
		link(href="./css/flow.css", rel="stylesheet")
		script(type="text/javascript", src="./js/sankey.js")
		link(href="../header/header.css", rel="stylesheet")
	body
		include ../header/header
		div.rectContainer
			div.mainchart
				h4 就诊流向
			div.sidechart
				div.smDiffChart
					h4 本、異地就醫
				div.sexChart
					h4 性别分布
				div.ageChart
					h4 年龄分布
				div.p23Chart
					h4 专科分布
				
			div.sidechart
				div.spdChart
					h4 人均费用(千)
				div.mapChart
			div.tableContainer

		div.ctnFooter
			div.ctnTxt 資料視覺化：<a class="white" href="http://muyueh.com/42/" target="_blank">李慕約</a>、何湘湘、潘敏、江文诗

		script(type="text/javascript", src="./js/flow.js")