doctype html
html
	head
		title On the Move
		include ../j_piece/inheader
		link(href="./css/flow.css", rel="stylesheet")
		script(type="text/javascript", src="./js/sankey.js")
	body
		div.mainchart
		div.sidechart
			div
				h1#total
		script(type="text/javascript", src="./js/flow.js")