doctype html
html
	head
		title On the Move
		include ../j_piece/inheader
		link(href="./css/flow.css", rel="stylesheet")
		script(type="text/javascript", src="./js/sankey.js")
		link(href="../header/header.css", rel="stylesheet")
	body
		include ../header/header
		div.rectContainer
			div.mainchart
				h4 就诊流向
			div.sidechart
				div.smDiffChart
					h4 请选择分析人群
				div.sexChart
					h4 性别分布
				div.ageChart
					h4 年龄分布
				div.p23Chart
					h4 入院科別
				
			div.sidechart
				div.spdChart
					h4 人均总住院费用(千元)
				div.mapChart
			div.tableContainer

		div.ctnFooter
			div.ctnTxt 
				span 資料視覺化：<a class="white" href="http://muyueh.com/42/" target="_blank">李慕約</a>、江文诗、何湘湘、潘敏
				span.rightFoot 数据来源：医院质量监测系统 (HQMS)


		script(type="text/javascript", src="./js/flow.js")